---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";

type BlogPost = CollectionEntry<"blog">;

const allPosts = await getCollection("blog");

const sortedPosts = allPosts.sort(
	(a: BlogPost, b: BlogPost) =>
		new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

const [featuredPost, ...standardPosts] = sortedPosts;

const pageTitle = "JDS / Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<section
		id="blog-posts"
		class="w-col-full sm:grid-cols-1fr grid grid-flow-row pb-96 md:grid-cols-2 lg:grid-cols-3"
	>
		<BlogCard
			id={featuredPost.id}
			title={featuredPost.data.title}
			description={featuredPost.data.description}
			date={featuredPost.data.date}
			url={`/blog/${featuredPost.id}`}
			tags={featuredPost.data.tags}
			imagePath={featuredPost.data.imagePath}
			imageAlt={featuredPost.data.imageAlt}
			wordCount={featuredPost.data.wordCount}
			type="featured"
		/>
		{
			standardPosts.map((post: BlogPost) => (
				<BlogCard
					id={post.id}
					title={post.data.title}
					description={post.data.description}
					date={post.data.date}
					url={`/blog/${post.id}`}
					tags={post.data.tags}
					imagePath={post.data.imagePath}
					imageAlt={post.data.imageAlt}
					wordCount={post.data.wordCount}
					type="standard"
				/>
			))
		}
	</section>
</BaseLayout>
