---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";

type Project = CollectionEntry<"projects">;

const allProjects = await getCollection("projects");

const sortedProjects = allProjects.sort(
	(a: Project, b: Project) => a.data.order - b.data.order,
);

const pageTitle = "JDS / Projects";
---

<BaseLayout pageTitle={pageTitle}>
	<section
		class="w-col-full grid grid-cols-[auto] grid-rows-[min-content] items-start pb-96"
	>
		<div
			class="grid grid-flow-row gap-[var(--guide-gutter)] place-self-center sm:w-(--full-w) sm:grid-cols-1 md:grid-cols-2 lg:w-(--full-w) lg:grid-cols-3"
		>
			{
				sortedProjects.map((project) => {
					return (
						<ProjectCard
							id={project.id}
							title={project.data.title}
							category={project.data.category}
							description={project.data.description}
							url={project.data.url}
							repo={project.data.repo}
							tags={project.data.tags}
							iconPath={project.data.iconPath}
							iconAlt={project.data.imageAlt}
						/>
					);
				})
			}
		</div>
	</section>
</BaseLayout>
